<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      .container {
        font-size: 26px;
      }
      .sub-cont{
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>nerd-starter Node.Js Template</h1>
      <div class="sub-cont">
        <span>Routes:</span>
        <a href="/users/login">Login</a>
        <a href="/users/register">Sign Up</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/mail">Send Mail</a>
      </div>
    </div>
  </body>
</html>
