<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
      * {
        font-family: "Quicksand", sans-serif;
      }
      input{
        border-radius: 5px;
        border: 1px solid gray;
        outline: none;
        padding: 5px;
      }
      .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      button{
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div><%- body %></div>
  </body>
</html>
