<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodemailer</title>
</head>
<body>
    <div class="container">
        <h1>Mail Sender</h1>
        <div>
            <form action="/mail" method="post">
                <span>Your Email:</span>
            <input type="email" name="email"><br>
            <span>Your Name:</span>
            <input type="text" name="name"><br>
            <span>Subject:</span>
            <input type="text" name="subject"><br>
            <span>Message:</span>
            <input type="text" name="message"><br>
            <button type="submit" >Send Mail</button>
            </form>
        </div>
    </div>
</body>
</html>